* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  scrollbar-width: 100px;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background: #101118;
}

.cm-content {
  background: #101118;
}

#app>div {
  height: 100%;
  background: #101118;
}

.w-split-bar {
  width: 1px !important;
}

*::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 75);
  outline: 0px solid rgb(58, 62, 67);
  width: 0px;
}